.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.logo-container {
  display: flex;
}
.nav-links > ul {
  display: flex;
  list-style-type: none;
}
.nav-links > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  padding: 5px;
  width: 200px;
  margin: 15px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
}
.res-logo {
  width: 190px;
  padding: 5px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  margin: 15px;
}
.login {
  padding: 0 20px;
  margin-right: 10px;
}
.filter {
  display: flex;
}
.search-box {
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}
